body{
    margin: 0%;
    text-align: center;
    background-color:#E4F9F5;
    font-family: 'Moon Dance', cursive;
}
.apple{
    padding-top: 100px;
    background-color:#E4F9F5;
    position: relative;
}
.apple h1{
    font-family: 'Sacramento', cursive;
    font-size: 60px;
    width: 30%;
    margin: 0 auto 0 auto;
}
.apple p{
    font-family: 'Moon Dance', cursive;
    font-size: 20px;
    margin-top: 5px;
}
.sele{
    border-radius: 100%;
}
.sing{
    height: 300px;
    border-radius: 100%;
}
.mike{
    height: 350px;
    border-radius: 50%;
}
.span{
    color: blue;
    text-decoration:underline;
}
.bottom-cloud{
    position: absolute;
    left: 300px;
    bottom: 300px;
}
.top-cloud{
    position: absolute;
    top: 30px;
    right: 300px;
}
.bat img{
    margin-top: 20px;
}
.dog img{
    margin-top: 15px;
}
.giant h3{
    margin-top: 2px;
    margin-bottom: 5px;
}
.giant a{
    margin-left: 7px;
}
.apple img{
    box-shadow: none;
}
img{
    box-shadow: 10px 10px 15px 10px rgba(62, 90, 179, 0.459);
}
.giant p{
    margin-top:3px;
}
